<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{cartItem.name}}</h2>
    <h3 class="card-subtitle mb-2 text-muted">Price</h3>
    <p>{{cartItem.price}}</p>
    <h3 class="card-subtitle mb-2 text-muted">Quantity</h3>
    <p>{{cartItem.quantity}}</p>
    <h3 class="card-subtitle mb-2 text-muted">Cost</h3>
    <p>{{cartItem.cost}}</p>
    <button class="btn btn-success" (click)="onIncreaseClick()">+</button>
    <button class="btn btn-warning" (click)="onDecreaseClick()">-</button>
    <button class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
  </div>
</div>
