<div>
  <h2>Cart list</h2>
  <div *ngIf="!cartListIsEmpty; else elseBlock">
    <div class="row">
      <div class="col-1 mb-2 ms-2">
        <select class="form-select" (change)="onSortChange($event)">
          <option selected value="name">Name</option>
          <option value="price">Price</option>
          <option value="quantity">Quantity</option>
        </select>
      </div>
      <label class="form-check-label mb-2 ms-2">
        <input
          class="form-check-input"
          type="checkbox"
          (change)="onOrderChange($event)" />
        Ascending
      </label>
    </div>
    <app-cart-item
      *ngFor="
        let item of cartList | orderBy: [sortOptions.key]:sortOptions.asc;
        trackBy: trackByName
      "
      [cartItem]="item"
      (increaseClick)="onIncreaseClick($event)"
      (decreaseClick)="onDecreaseClick($event)"
      (deleteClick)="onDeleteClick($event)">
    </app-cart-item>
    <div class="row">
      <div class="col-2">
        <h4>Total quantity</h4>
        <p>{{ totalQuantity }}</p>
      </div>
      <div class="col-2">
        <h4>Total cost</h4>
        <p>{{ totalCost }}</p>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>The Cart is empty</ng-template>
</div>
