<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{product.name}}</h2>
    <h3 class="card-subtitle mb-2 text-muted">Description</h3>
    <p>{{product.description}}</p>
    <h3 class="card-subtitle mb-2 text-muted">Price</h3>
    <p>{{product.price}}</p>
    <h3 class="card-subtitle mb-2 text-muted">Category</h3>
    <p>{{product.category}}</p>
    <h3 class="card-subtitle mb-2 text-muted">Available</h3>
    <p>{{product.isAvailable}}</p>
    <h3 class="card-subtitle mb-2 text-muted">Reviews</h3>
    <ul>
      <li *ngFor="let review of product.reviews">{{review}}</li>
    </ul>
    <h3 class="card-subtitle mb-2 text-muted">Tags</h3>
    <ul>
      <li *ngFor="let tag of product.tags">{{tag}}</li>
    </ul>
    <button class="btn btn-primary" (click)="onAddToCart()">Buy</button>
  </div>
</div>